@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 40px;
    background-color: rgb(223, 223, 223);
}

h1 {
    background-color:white;
    padding: 30px 40px;
}
.scale_container{
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* display: none; */
}
.text-container{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 10px;
    line-height: 30px;
}
.c14{
    background-color: rgb(0, 81, 255);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}    

.c13{
    background-color: rgb(35, 104, 252);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c12{
    background-color: rgb(46, 143, 253);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c11{
    background-color: rgb(41, 159, 255);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}


.c10{
    background-color: rgb(69, 165, 255);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c9{
    background-color: rgb(78, 199, 247);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c8{
    background-color: rgb(112, 252, 245);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c7{
    background-color: rgb(64, 255, 73);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c6{
    background-color: rgb(43, 255, 0);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c5{
    background-color: rgb(172, 255, 76);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c4{
    background-color: rgb(211, 234, 117);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c3{
    background-color: rgb(247, 246, 16);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}

.c2{
    background-color:rgb(253, 165, 5);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}
.c1{
    background-color: rgb(237, 77, 13);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}
.c0{
    background-color: rgb(255, 0, 0);
    height: 30px;
    width: 100%;
    padding-left: 2rem;
    padding-top: 1px;
}


